@model FinalProject.Models.Knowledges

@{
    ViewData["Title"] = "Knowledge";
}
<h4>Knowledge</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Knowledge">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Write article</label>
                <textarea class="form-control" id="Description" name="Description" rows="3"></textarea>
            </div>
            
            <div class="form-group">
                <label asp-for="authorName" class="control-label"></label>
                <input asp-for="authorName" class="form-control" />
                <span asp-validation-for="authorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicDate" class="control-label"></label>
                <input asp-for="PublicDate" class="form-control" />
                <span asp-validation-for="PublicDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>