@model IEnumerable<FinalProject.Models.Knowledges>

@{
    ViewData["Title"] = "ShowArtical";
}

<h1>Article Title</h1>


<table class="table" border="2">
    
   <tbody>
@foreach (var item in Model) {
     
        <tr>
            <a asp-action="AllArtical" asp-controller="Faculty" asp-route-id="@item.Id"><h5>@item.title</h5></a>
           
            
            
        </tr>
      
}  
  </>
    
</table>