@model IEnumerable<FinalProject.Models.ChatModel>


@{
    ViewData["Title"] = "Tosender";
}

<h1>Massege</h1>
<table class="table" border="2">
    <thead>

        <tr>
            
            <th>
                
                UserName
                @*@Html.DisplayNameFor(model => model.sender)*@
                
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                
                @Html.DisplayFor(modelItem => item.sender)
                <br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.message)
            </td>
            <td>
                
            </td>
            
        </tr>
}
    </tbody>
</table>

<table>

    <tbody class="btn-primary ">
        @Html.ActionLink("Reply" , "Chat", "Faculty", null, new { @class=" btn btn-primary" })
    </tbody>
</table>
